
body {
    background-color: #1a75ff;
}

h2 { 
   position: absolute; 
   top: 60px; 
   left: 60px; 
   width: 100%;
	color: #ffffff;
	text-shadow: 2px 2px black;
	font-family: "Verdana", sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
}
table
{
	position: absolute; 
	top: 180px; 
	left: 60px; 
}
p{
	font-size:1.5em;
	font-family: "Arial", sans-serif;
}
th, td {
    border-bottom: 3px solid #ffffff;
	color: #ffffff;
}
